
body {
    background-color: rgb(194, 248, 236);
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  h3 {
    color: black;
    text-align: center;
  }
  
  p {
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    width: 800px;
    margin: 0 auto;
    text-align: start;
  }
  header
  h1 {
    font-family: "Courier New", Courier, monospace;
  }